body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y hiddenで外側に出現するスクロールバーを消している */
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ここで1remを10pxに設定している */
html {
  font-size: 62.5%; /* 16px × 0.625 = 10px */
}
/* 画面幅600px以下のフォントサイズ設定 */
@media (max-width: 600px) {
  html {
    font-size: 50%; /* 16px × 0.5 = 8px → 1rem = 8px */
  }
}
